.Habi {
    z-index: 2;
    background: #0187cd;
    color: #ffffff;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
}

.ProgressbarHtml{
    width: 85%;
    margin-bottom: 5px;
    margin-top: 0;
    height: 15px;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barHtml 3s linear
}
@keyframes progress-barHtml{
    0% { width: 0%; }   
    100% { width: 85%}  
}

.ProgressbarCss{
    width: 75%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 75%}  
}

.ProgressbarReact{
    width: 65%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 65%}  
}

.ProgressbarJS{
    width: 65%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 65%}  
}

.ProgressbarSass{
    width: 65%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 65%}  
}

.ProgressbarBoot{
    width: 55%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 55%}  
}

@media (min-width: 750px) and (max-width: 1030px) {
    .Habi {
        z-index: 2;
        background: #0187cd;
        color: #ffffff;
        margin-top: -70px;
        margin-bottom: 30px;
        padding: 5px 5px;
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 749px) {
    .Habi {
        z-index: 2;
        background: #0187cd;
        color: #ffffff;
        margin-top: -70px;
        margin-bottom: 30px;
        padding: 5px 5px;
        font-size: 20px;
        text-align: center;
        margin-left: 15px;
    }
}