.Habi {
    z-index: 2;
    background: #0187cd;
    color: #ffffff;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
}

.Skills {
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1;
    color: #777;
}

.Percent {
    margin-bottom: 0;
    line-height: 1;
    float: right;
    color: #777;
}

.Progress{
    height: 15px;
    background-color: #777;
    position: relative;
}

.Progress .ProgressbarHtml{
    width: 85%;
    margin-bottom: 5px;
    margin-top: 0;
    height: 15px;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barHtml 3s linear
}
@keyframes progress-barHtml{
    0% { width: 0%; }   
    100% { width: 85%}  
}

.Progress .ProgressbarCss{
    width: 75%;
    height: 15px;
    margin-top: 0;
    position: absolute;
    background-color: #0187cd;
    animation: progress-barCss 3s linear
}
@keyframes progress-barCss{
    0% { width: 0%; }   
    100% { width: 75%}  
}



@media (min-width: 750px) and (max-width: 1030px) {
    .Habi {
        z-index: 2;
        background: #0187cd;
        color: #ffffff;
        margin-top: -70px;
        margin-bottom: 30px;
        padding: 5px 5px;
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 749px) {
    .Habi {
        z-index: 2;
        background: #0187cd;
        color: #ffffff;
        margin-top: -70px;
        margin-bottom: 30px;
        padding: 5px 5px;
        font-size: 20px;
        text-align: center;
        margin-left: 15px;
    }
}