.Redes button {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 2px 5px;
    display: inline-flex;
    border: solid 1px #bcbcbc;
    background-color: white;
    cursor: pointer;
}

.Redes button:hover,
.Redes button:active {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    border: solid 1px black;
    background-color: #bcbcbc;
    cursor: pointer;
}

.Face {
    background-image: url('../../../../assets/facebook-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.Linkedin {
    background-image: url('../../../../assets/linkedin-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.Insta {
    background-image: url('../../../../assets/instagram-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}
