.Div {
    font-size: 12px;
}

.Habi {
    z-index: 2;
    background: #0187cd;
    color: #ffffff;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
}

.Skills {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}