.Azul {
    margin-top: 60px;
    color: #0187cd;
}

.Habi1 {
    margin-top: 50px;
    padding: 50px;
    border: solid 1px #cacaca;
    background-color: white;
    width: 30%;
    height: 100%;
    display: flex;
    position: relative;
    float: left;
    flex-direction: column;
    text-align: justify;
    z-index: 1;
}

.Habi2 {
    margin-top: 50px;
    padding: 50px;
    border: solid 1px #cacaca;
    background-color: white;
    width: 46%;
    height: 100%;
    display: flex;
    position: relative;
    float: right;
    flex-direction: column;
    text-align: justify;
}

@media (min-width: 750px) and (max-width: 1030px) {
    .Habi1 {
        margin-top: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        width: 26%;
        height: 100%;
        display: flex;
        text-align: justify;
        position: relative;
        float: left;
        flex-direction: column;
        text-align: justify;
    }
    
    .Habi2 {
        margin-top: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        width: 40%;
        height: 100%;
        display: flex;
        position: relative;
        float: right;
        flex-direction: column;
        text-align: justify;
    }
}

@media (max-width: 749px) {
    .Habi1 {
        margin-top: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        width: -webkit-fill-available;
        display: flex;
        text-align: justify;
        position: relative;
        flex-direction: column;
        text-align: justify;
    }
    
    .Habi2 {
        margin-top: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        width: -webkit-fill-available;
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: justify;
    }
}