.Diplomas {
    margin: 5px;
    width: auto;
    padding: 50px;
    border: solid 1px #cacaca;
    background-color: white;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.Azul {
    margin-top: 60px;
    color: #0187cd;
}

.Diploma {
    padding: 0px;
    width: 348px;
    height: 250px;
    box-shadow: 0 2px 3px #ccc;
    float: left;
}

.Diploma2 {
    padding: 0px;
    width: 250px;
    height: 348px;
    box-shadow: 0 2px 3px #ccc;
    float: left;
}

.CDiplo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CDiplo2 {
    width: 250px;
    height: 348px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 501px) {
    .Diplomas {
        margin: 0;
        padding: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .Azul {
        margin-top: 20px;
        color: #0187cd;
    }

    .GDiplo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0 2px 7px #ccc;
        padding: 20px;
    }
    
    .Diploma {
        padding: 0px;
        width: 100%;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }
    
    .Diploma2 {
        padding: 0px;
        width: 250px;
        height: 348px;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }

    .CDiplo {
        width: 348px;
        height: 250px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .CDiplo2 {
        width: 250px;
        height: 348px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .Diplomas {
        margin-left: 15%;
        padding: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .Azul {
        margin-top: 20px;
        color: #0187cd;
    }
    
    .Diploma {
        padding: 0px;
        margin-top: 10px;
        width: 298px;
        height: 200px;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }
    
    .Diploma2 {
        padding: 0px;
        width: 100%;
        box-shadow: 1px 2px 3px #ccc;
        float: left;
    }

    .CDiplo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .CDiplo2 {
        width: 250px;
        height: 348px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}