.Diplomas {
    margin: 5px;
    width: auto;
    padding: 50px;
    border: solid 1px #cacaca;
    background-color: white;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.Azul {
    margin-top: 60px;
    color: #0187cd;
}

.arrowDown {
    font-style: italic;
    margin: 0 0 0 7px;
    border: solid black;
    border-width: 0 1px 1px 0 !important;
    display: inline-block;
    padding: 3px;

}

.arrowDown {
    border: solid #001330;

}

.arrowDown:active {
    transform: rotate(45deg) !important;
}

.Diploma {
    padding: 0px;
    width: 348px;
    height: 250px;
    box-shadow: 0 2px 3px #ccc;
    float: left;
}

.Diploma2 {
    padding: 0px;
    width: 250px;
    height: 348px;
    box-shadow: 0 2px 3px #ccc;
    float: left;
}

.CDiplo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CDiplo2 {
    width: 250px;
    height: 348px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 501px) {
    .Diplomas {
        margin: 0;
        padding: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
    }

    .Azul {
        margin-top: 20px;
        color: #0187cd;
        cursor: pointer;
    }

    .Azul:hover {
        border: 1px solid #0187cd;
        margin-top: 20px;
        cursor: pointer;
        background-color: #ccc;
    }

    .arrowDown {
        font-style: italic;
        margin: 0 0 0 10px;
        border: solid black;
        border-width: 0 1px 1px 0 !important;
        display: inline-block;
        padding: 3px;
    }

    .arrowDown {
        border: solid #001330;
        transform: rotate(-45deg);
    }

    .arrowDown2 {
        margin: 0 0 0 10px;
        border: solid black;
        border-width: 0 1px 1px 0 !important;
        display: inline-block;
        padding: 3px;
        border: solid #001330;
        transform: rotate(45deg) !important;
    }

    .GDiplo {
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0 2px 7px #ccc;
        padding: 20px;
    }

    .GDiplo2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0 2px 7px #ccc;
        padding: 20px;
        background-color: #eee;
        border: 1px solid #0187cd;
    }
    
    .Diploma {
        padding: 0px;
        width: 100%;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }
    
    .Diploma2 {
        padding: 0px;
        width: 250px;
        height: 348px;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }

    .CDiplo {
        width: 348px;
        height: 250px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .CDiplo2 {
        width: 250px;
        height: 348px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .Diplomas {
        margin-left: 15%;
        padding: 50px;
        border: solid 1px #cacaca;
        background-color: white;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .Azul:hover {
        border: 1px solid #0187cd;
        margin-top: 20px;
        cursor: pointer;
        background-color: #ccc;
    }

    .arrowDown {
        font-style: italic;
        margin: 0 0 0 10px;
        border: solid black;
        border-width: 0 1px 1px 0 !important;
        display: inline-block;
        padding: 3px;
    }

    .arrowDown {
        border: solid #001330;
        transform: rotate(-45deg);
    }

    .arrowDown2 {
        margin: 0 0 0 10px;
        border: solid black;
        border-width: 0 1px 1px 0 !important;
        display: inline-block;
        padding: 3px;
        border: solid #001330;
        transform: rotate(45deg) !important;
    }
    
    .Diploma {
        padding: 0px;
        margin-top: 10px;
        width: 298px;
        height: 200px;
        box-shadow: 0 2px 3px #ccc;
        float: left;
    }
    
    .Diploma2 {
        padding: 0px;
        width: 100%;
        box-shadow: 1px 2px 3px #ccc;
        float: left;
    }

    .CDiplo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .CDiplo2 {
        width: 250px;
        height: 348px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}