body {
  margin: 0;
  padding: 50px;
  font-family: "Veneer Clean Reg";
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#ebebeb;
  justify-content: center;
  align-items: center;
}