@import url(//db.onlinewebfonts.com/c/14bcfd7986d2631f04b55ff9a0cf1837?family=Veneer+Clean+Soft);

body {
  margin: 0;
  padding: 50px;
  font-family: "Veneer Clean Reg";
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#ebebeb;
  justify-content: center;
  align-items: center;
}